@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.TopNavbar {
  background-color: none;
  @include flex-center(row);
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: $color2;
  width: 100%;
  .hotix-header {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .header-navigator {
    display: flex;
    align-items: center;
    gap: 1rem;
    .icon {
      font-size: 1.6rem;
      cursor: pointer;
    }
    .header-btn {
      font-size: 1rem;
      font-weight: 500;
      color: $color2;
      text-decoration: underline;
      padding: 0 0.5rem;
      border-radius: $border-radius;
      background: none;
      border: none;
    }
  }
}
