@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.SaleCompleted {
  @include flex-center(column);
  h5{
    font-weight: bold;
    margin: 3rem 0 1rem;
  }
  p{
    width: 70%;
    text-align: center;
    margin:1rem 0 2rem;
  }
  .fa-circle-check{
      color: lighten($bg-color1, 30%);
      color: gray;
      width: 5rem;
      height: 5rem;
  }
}
