@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.SellTicketSlider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .ticket-hotix-header {
    margin-bottom: 1rem;
    span {
      color: $text-color2;
    }
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .dots-area {
    @include flex-center(row);
    gap: 1rem;
    button {
      padding: 0.3rem;
      border: none;
      border-radius: 50%;
      background-color: white;
    }
    button.active-slide {
      background-color: $bg-color1;
    }
    button.previous {
      background-color: lighten($bg-color1, 20%);
    }
  }
}
