@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.TicketsAmount {
  @include flex-center(column);
  .current-event-details {
    @include flex-center(row);
    justify-content: space-between;
    gap: 1rem;
    min-width: 20rem;
    height: 5rem;
    margin: 2rem 0 5rem;
    border: 1px #ccc solid;
    border-radius: 5px;
    .event-details {
      @include flex-center(column);
      justify-content: space-between;
      font-size: 0.8rem;
      height: 100%;
      padding: 0.5rem;
      .event-name {
        font-weight: bold;
      }
    }
    .current-event-image {
      width: 7rem;
      height: 100%;
      border-radius: 0 5px 5px 0;
    }
  }
  .amount-options-area {
    @include flex-center(row);
    gap: 1rem;
    .tickets-amount-option {
      @include basic-button(white);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 3rem;
      height: 3rem;
      color: rgb(163, 162, 162);
      &:hover {
        background-color: darken($bg-color2, 5%);
      }
      &.current-amount {
        background-color: darken($bg-color1, 30%);
        color: $text-color3;
      }
    }
  }
}
