@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.StepsDots {
  @include flex-center(row);
  .dots-area {
    width: 100%;
    @include flex-center(row);
    margin-bottom: 1rem;
    gap: 8rem;
    &.three-slides{
      gap: 13rem;
    }
    .dots-splitter {
      position: absolute;
      width: 60%;
      border: 5px #ccc solid;
      margin-top: 2.2rem;
    }
    .single-step-holder {
      @include flex-center(column);
      z-index: 10;
      .step-span {
        font-size: 0.8rem;
        color: lighten($color1, 30%);
      }
      .single-step {
        @include flex-center(column);
        padding: 0.4rem;
        border: 1px #ccc solid;
        border-radius: 50%;
        background-color: $color2;
        font-size: 0.8rem;
        width: 1.3rem;
        height: 1.3rem;
        cursor: auto;
        &.active-slide {
          border: 2px darken($color1, 20%) solid;
        }
        &.previous {
          background-color: darken($color1, 20%);
          border: 2px darken($color1, 20%) solid;
          color: $color2;
          font-weight: bold;
        }
      }
    }
  }
}
