@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.SellTicketSlider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sell-ticket-section-wrapper {
    @include flex-center(column);
    justify-content: space-between;
    transition: all 0.3s ease-out;
    min-height: 27rem;
  }

  .sell-ticket-section-header {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    color: darken($color1, 30%);
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
