@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.UpcomingEvents {
  @include flex-center(column);
  width: 90%;
  .upcoming-events-navbar {
    width: 80%;
    padding: 0 1rem;
    @include flex-center(row);
    justify-content: space-between;
    margin: 5rem 0 3rem 0;

    h2 {
      color: darken($color1, 40%);
      font-weight: bold;
    }

    .select-events-area {
      display: flex;
      gap: 1rem;
      select.upcoming-events-select {
        width: 10rem;
        border-radius: 30px;
        border: lighten($color1, 40%) 1px solid;
        background-color: $color2;
        color: darken($color1, 20%);
        padding: 0.5rem 1rem;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1em;
        cursor: pointer;
        &:focus {
          outline: lighten($color1, 25%) 1px solid;
        }
      }
    }
  }
  .upcoming-events-card-container {
    @include flex-center(row);
    width: 100%;
    max-width: 80vw;
    flex-wrap: wrap;
    min-height: 20rem;;
    gap: 2rem;
    row-gap: 3rem;
    .error-message-section{
      color: darken($color1, 30%);
      font-size: 1.3rem;
    }
  }

  button.load-more-upcoming-events {
    border-radius: 30px;
    margin: 4rem 0 2rem;
    border: 1px $color1 solid;
    color: $color1;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    padding: 0.7rem;
    width: 10rem;
    transition: all 0.5s;
    cursor: pointer;
    direction: rtl;
    position: relative;
    background: none;
    overflow: hidden;
  }

  button.load-more-upcoming-events::after {
    content: "»";
    direction: ltr;
    position: absolute;
    opacity: 0;
    font-size: 1.4rem;
    top: 6px;
    right: -20px;
    transition: 0.5s;
  }

  button.load-more-upcoming-events:hover {
    padding-right: 24px;
    padding-left: 8px;

    &::after {
      opacity: 1;
      right: 20px;
    }
  }
}
