main.container-main {
  @include flex-center(column);
  width: 100%;
  div.home-page-container {
    @include flex-center(column);
    width: 100%;
  }

  &.profile-container{
    padding: 1rem 3rem;
  }
}

.home-sideNav-container {
  display: flex;
}

.or-separator {
  margin: 1rem 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  span {
    margin: 0 1rem;
    color: rgb(121, 118, 118);
    font-size: 0.9rem;
  }
}

hr {
  width: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
