// $bg-color1: purple;
$bg-color1: #5F17E1;
// $bg-color1: #3D37F1;
$bg-color2: rgb(248, 238, 248);
$bg-color3: black;

$text-color1: black;
// $text-color2: purple;
$text-color2: #5F17E1;
// $text-color2: #3D37F1;
$text-color3: white;

$font-weights: (
  "regular": 400,
  "big": 700,
);

$mobile-xl: 1200px;
$mobile-large: 1000px;
$mobile-medium: 800px;
$mobile-small: 600px;
$mobile-xs: 450px;

// 3D37F1