// $bg-color1: #3D37F1;
// $bg-color2: #F6F6F6;
// $text-color2: #3D37F1;
$bg-color1: #5f17e1;
$bg-color2: rgb(246, 246, 246);
$bg-color3: black;

$text-color1: black;
$text-color2: #5f17e1;
$text-color3: white;

$font-weights: (
  "regular": 400,
  "big": 700,
);

$mobile-xl: 1200px;
$mobile-large: 1000px;
$mobile-medium: 800px;
$mobile-small: 600px;
$mobile-xs: 450px;

$green-btn: rgb(9, 164, 9);

$border-radius: 5px;

// 3D37F1
