$color1: #5f17e1;
$color2: white;
$color3: black;
$color4: #f8f8f8;
$disabled-color: #c6c6c6;

$font-weights: (
  "regular": 400,
  "big": 700,
);

$mobile-xl: 1200px;
$mobile-large: 1000px;
$mobile-medium: 800px;
$mobile-small: 600px;
$mobile-xs: 450px;

$green-color: rgb(9, 164, 9);

$border-radius: 5px;
