@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.SellerModal {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  .buy-ticket-section-header {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    color: darken($color1, 30%);
  }
}

@media only screen and (max-width: 1000px) {
  .SellerModal {
    padding: 0;
  }
}
