@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.TicketsDetails {
  @include flex-center(column);
  text-align: center;
  color: darken($color1, 30%);
  .sell-ticket-section-header {
    margin: 2rem 0;
    font-weight: 600;
  }

  form.details-inputs-area {
    width: 100%;
    min-height: 14rem;
    max-height: 21rem;
    overflow-y: auto;
    padding: 0 1rem;
    .details-section {
      @include flex-center(row);
      width: 100%;
      gap: 0.5rem;
      flex-wrap: wrap;
      label {
        text-align: start;
        width: calc(50% - 1rem);
        input {
          text-align: center;
          background: #efeeee;
          border: none;
          border-radius: $border-radius;
          padding: 0.5rem;
          width: 100%;
          &:not(:first-of-type) {
            margin-top: 0.5rem;
          }
          &:focus {
            outline: none;
            background-color: lighten($color1, 48%);
            border-radius: $border-radius;
          }
        }
        select {
          @extend input;
          cursor: pointer;
        }
      }
    }
  }
  .few-areas-message {
    font-size: 0.9rem;
    width: 100%;
    text-align: start;
    margin: 1rem;
    &.hebrew {
      text-align: end;
    }
  }
}

@media only screen and (max-width: 600px) {
  .TicketsDetails {
    form.details-inputs-area {
      padding: 0;
    }
  }
}
