@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

$register-input-padding: 0.4rem 1rem;

.RegisterForm {
  @include auth-form();

  h3 {
    margin-bottom: 0;
  }
  .quick-easy {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .error-message {
    color: red;
    font-size: 0.9rem;
  }

  .form-control {
    padding: $register-input-padding;
    &:disabled {
      background-color: transparent;
      padding-left: 3rem;
      cursor: pointer;
    }
  }
  .form-input-area {
    .file-label {
      display: flex;
      cursor: pointer;
      .file-icon {
        position: absolute;
        margin-top: 0.7rem;
        margin-left: 0.5rem;
        color: darken($disabled-color, 30%);
        font-size: 1.5rem;
      }
    }
    .image-error {
      font-size: 0.8rem;
      color: red;
    }
  }

  .user-full-name {
    display: flex;
    gap: 0.6rem;
  }

  .radio-inputs-area {
    @include flex-center(row);
    margin: 0.3rem 0;
    gap: 0.6rem;
    label {
      @include flex-center(row);
      width: 100%;
      border: 1px #ccc solid;
      border-radius: $border-radius;
      padding: $register-input-padding;
      cursor: pointer;
      span {
        margin-right: 0.5rem;
      }
    }
  }

  .auth-login-button {
    @include basic-button($color1);
    width: 100%;
    margin-top: 1rem;
  }

  .form-link {
    margin: 1rem 0;
    color: $color1;
    text-decoration: none;
    &:hover {
      text-decoration: underline 1px;
    }
  }
}
