@import "./styles/variables.scss";
@import "./styles/functions.scss";
@import "./styles/mixin.scss";

body {
  margin: 0;
  background-color: $bg-color3;
}

.main {
  // use the @mixin as a shortcut.
  @include flex-center(row);
  @include theme($light-theme: false);
  @include mobile {
    flex-direction: column;
  }

  width: 80% - 20%;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin: 0;
    padding: 1rem;

    &:hover {
      color: $text-color3;
    }
  }

  // ---> .main-paragraph
  #{&}-paragraph {
    font-size: 1.5rem;
    margin: 1rem;
  }

  #{&}-paragraph2 {
    @extend .main-paragraph;
    text-decoration: underline;
    // -----> get the font weight from the function weight, which uses variables.
    font-weight: weight(big);
  }
}
